button 
{
    min-width: 50px;
    min-height: 10px;
    margin: -1px;
    padding: 10px;
}
table
{
    margin-left: auto;
    margin-right: auto;
}
button:hover 
{
    background-color: rgb(68, 68, 68);
}
#submit
{margin-top: 20px;}